<table>
<tr>
<td>
      <strong>
	<a href="TimeLine.php">Timeline</a>
				</strong>
			</div>
		</td>

		<td align="left">
			<strong>
				This project's <a href="time-jpg/AI%201945-85.jpg">Graphical Timeline</a><br>
				Source Timelines from <a href="http://www.aaai.org/aitopics/bbhist.html#early">AAAI</a> and <a href="http://www.csail.mit.edu/timeline/timeline.php">MIT Tech Square</a>
			</strong>
		</td>
	</tr>
</table>