hi

<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">01-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">02-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">03-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">04-cubechess.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">05-life.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">06-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">07-arm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">08-turtle.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">09-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">10-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">11-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">12-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">13-cubechess.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">14-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">15-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">16-solar.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">18-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">19-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">20-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">21-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">22-turtle.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">23-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">24-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">25-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">25-turtle.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">26-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">27-solar.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">28-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">29-solar.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">30-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">31-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">32-mathlab.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">33-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">34-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">35-screen.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">36-wireforks.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">37-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">38-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">39-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">40-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">41-radial.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">42-radial.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">43-arm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">44-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">45-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">46-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">47-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">48-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">49-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">50-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">51-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">52-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">53-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">54-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">55-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">56-life.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">57-screen.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">58-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">59-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">60-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">61-arm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">62-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">63-chess.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">64-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">65-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">66-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">67-life.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">68-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">69-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">70-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">71-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">72-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">73-gas.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">74-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">75-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">76-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">77-life.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">78-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">79-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">80-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">81-mathlab.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">82-screen.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">83-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">84-robot.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">85-screen.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">86-bongo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">87-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">88-eye.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">89-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">90-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">90-worm.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">91-logo.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">92-turtle.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">93-cube.mpg</a>
<a href="http://projects.csail.mit.edu/films/aifilmsdynamicPage5.php?reel%23=">94-solar.mpg</a>
All done.