<style type = "text/css">

body {
background-color: #FFFFFF;
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #000000;
scrollbar-face-color: #808080;
scrollbar-highlight-color: #FF8C00;
scrollbar-3dlight-color: #FFFF00;
scrollbar-darkshadow-color: #000000;
scrollbar-shadow-color: #FFFFFF;
scrollbar-arrow-color: #800080;
scrollbar-track-color: #FFFFE0;
}

a { font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #483D8B; text-decoration: underline}

a:hover { font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #000000; background-color: #FFFFFF}

h1 { font-family: Arial, Verdana, sans-serif; font-size: 26px; color: #000000 }
h2 { font-family: Arial, Verdana, sans-serif; font-size: 22px; color: #000000 }
h3 { font-family: Arial, Verdana, sans-serif; font-size: 20px; color: #000000 }
h4 { font-family: Arial, Verdana, sans-serif; font-size: 18px; color: #000000 }
h5 { font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #000000 }
h6 { font-family: Arial, Verdana, sans-serif; font-size: 8px; color: #A52A2A }

hr{ color:brown; background-color:#FFFFFF; width:90%; height:2px; }

table { font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}

.note { font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #800080;
font-weight: bold;}
head.html

<table height="80" width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td align="left" valign="bottom" width="160" rowspan="2">
			<a href="http://www.ibdhost.com/"><img src="free/images/logo.gif" width="160" height="74" border="0" alt="logo"></a>
		</td>
		<td align="left" valign="bottom" height="25" width="100%" nowrap colspan="4">
			<b>Title or Links Here</b>
		</td>
	</tr>
	<tr>
		<td align="right" valign="top" height="50" width="100%" nowrap colspan="4">
			<table width="455" height="50" cellspacing="0" cellpadding="0" border="0" background="free/images/headcolor.gif">
				<tr>
					<td height="50" width="55" align="left" valign="top" background="free/images/headback.gif">
						<img src="free/images/headback.gif" width="55" height="50" border="0" alt="background">
					</td>
					<td height="50" width="400" align="center">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top" height="5" background="free/images/headcolor.gif" nowrap colspan="5">
			<table width="100%" height="1" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>
						<img src="free/images/headcolor.gif" width="1" height="1" alt="bar">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</style>
