
<table text-align="left" width="100%" border="1" cellpadding="1" cellspacing="1">


  <tbody>

<tr>

	<td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"> <a 
href="timelinewithformat.php"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/beg.jpg" border="0" longdesc="timelinewithformat.php?year=1945" /></a></td>

      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a
 href="timelinewithformat.php?year=1945"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1945.jpg" alt="1945" border="0" longdesc="timelinewithformat.php?year=1945" /></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1950"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1950.jpg" alt="1950" border="0" longdesc="timelinewithformat.php?year=1950" /></a><a
  href="timelinewithformat.php?year=1950"></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1955"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1955.jpg" alt="1955" border="0" longdesc="timelinewithformat.php?year=1955" /></a><a
  href="timelinewithformat.php?year=1955"></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1960"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1960.jpg" alt="1960" border="0" longdesc="timelinewithformat.php?year=1960" /></a><a
  href="timelinewithformat.php?year=1960"></a></td>


      <td width="10%" height="100%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1965"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1965.jpg" alt="1965" border="0" longdesc="timelinewithformat.php?year=1965" /></a><a
  href="timelinewithformat.php?year=1965"></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1970"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1970.jpg" alt="1970" border="0" longdesc="timelinewithformat.php?year=1970" /></a><a
  href="timelinewithformat.php?year=1970"></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1975"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1975.jpg" alt="1975" border="0" longdesc="timelinewithformat.php?year=1975" /></a><a
  href="timelinewithformat.php?year=1975"></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1980"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1980.jpg" alt="1980" border="0" longdesc="timelinewithformat.php?year=1980" /></a><a
  href="timelinewithformat.php?year=1980"></a></td>


      <td width="10%" style="text-align: center; font-weight: bold; font-family: Script MT Bold;"><a 
href="timelinewithformat.php?year=1985"><img src="http://projects.csail.mit.edu/films/timelinework2/timelinework2/clean/final/1985.jpg" alt="1985" border="0" longdesc="timelinewithformat.php?year=1985" /></a><a
  href="timelinewithformat.php?year=1985"></a></td>


    </tr>


  
  
  </tbody>
</table>


<br>

