<p>
<h2> National Science Foundation Award <br> Abstract #0537285 </h2>
<p>
 This project will collect, organize and preserve historic materials, particularly film, that are part of the historical record of the field of Artificial Intelligence (AI). It will create an organized digital archive and use highlights selected from the archive to illustrate the intellectual history of AI in a coherent narrative. It is intended that these materials will be made publicly available, for instance through a web site or DVD. Sources for this project included notes, memos and technical reports from MIT and elsewhere, and in particular, a uncatalogued, unconserved and uncurated collection of films that recently came to light at MIT. The project will proceed in two phases. In Phase 1, the project will gather films, inventory their condition and content, organize them into a historic time line, convert the collection into digital format, and create an on-line archive of the collection. In Phase 2, the project will create a connecting narrative at the level appropriate to a broad popular audience (e.g., at the level of viewership of PBS's NOVA series). This phase will also select a collection of anecdotal film clips from the larger collection to highlight some of the major moments in the history of AI. Lastly, the project will create a web site or DVD to showcase the selected clips, the connecting narrative, and other more technical materials.

