<center>
<table width="70%" height="100%" border="0" borderpadding="20">
	<tr>
		<td scope="col">
			<div align="right">
				<strong>
					<a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0537285">NSF Abstract</a>
				</strong>
			</div>
		</td>

		<td scope="col" align="right">
			<div align="left">
				<strong>
					This project is funded by the National Science Foundation
				</strong>
			</div>
		</td>
	</tr>

	<tr>
		<th width="130" scope="col">
			<div align="right">
				<strong>
					<a href="FilmList.php">Film List</a>
				</strong>
			</div>
		</th>
		
		<th width="342" scope="col" align="right">
			<div align="left">
				<strong>
					The project started with these 100 films
				</strong>
			</div>
		</th>
	</tr>

	<tr>
		<td>
			<div align="right">
				<strong>
					<a href="searchPage.php">Search</a>
				</strong>
			</div>
		</td>

		<td align="right">
			<div align="left">
				<strong>
					By Title or Reference Number
				</strong>
			</div>
		</td>
	</tr>

	<tr>
		<td>
			<div align="right">
				<strong>
					<a href="FilmIndex.php">Film Index</a>
				</strong>
			</div>
		</td>

		<td align="right">
			<div align="left">
				<strong>
					Browse through the categorized Film Index
				</strong>
			</div>
		</td>
	</tr>

	<tr>
		<td>
			<div align="right">
				<strong>
					<a href="TimeLine.php">Timeline</a>
				</strong>
			</div>
		</td>

		<td align="left">
			<strong>
				This project's <a href="time-jpg/AI%201945-85.jpg">TIMELINE</a><br>
				Source Timelines from <a href="http://www.aaai.org/aitopics/bbhist.html#early">AAAI</a> and <a href="http://www.csail.mit.edu/timeline/timeline.php">MIT Tech Square</a>
			</strong>
		</td>
	</tr>

	<tr>
		<td>
			<div align="right">
				<strong>
					<a href="http://www.ai.mit.edu/research/publications/pubs_browse.shtml">More Sources</a>
				</strong>
			</div>
		</td>

		<td align="left">
			<strong>
				From the CSAIL Reading Room Collection
			</strong>
		</td>
	</tr>

	<tr>
		<td>
			<p align="right">
			<b><a href="Audio/IJCAI%2025th.mp3">Audio Tape</a></b>
		</td>

		<td align="left">
			<b>The 25th Anniversary (1981)IJCAI panel,</b><br>
			<b>McCarthy, Minsky, Samuel, Selfridge, Newell</b>
		</td>
	</tr>
</table>
</center>