<center>
Browse films by <a href="categorizedIndexPage.php">Category</a>
or <a href="numberedIndexPage.php">Number</a><p>

<table border="0" width="80%" height="100%" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td>
<center>
<b>  
This project was funded by the National Science Foundation to showcase early Artificial Intelligence research. It began with a treasure trove of ninety-six film reels found in the old MIT TechSquare, which are available here in both mpg and mp4 formats.  It ended as an NSF project on 31 December 2006.  

<br><br>If you have more information, ideas or stories, please tell us <a href="http://projects.csail.mit.edu/films/commentpostPage.php?filename=general&amp;title=AI%20History%20or%20how%20to%20Improve%20this%20Website"> <font color="#CC0033"><i>here</i></font></a> or at the bottom of the relevant film's page.  Your input helps recapture and clarify this captivating field's intellectual history.  

<br><br>To add materials or for other issues, please contact <a href="mailto:jackc@csail.mit.edu">Jack Costanza</a>.  

</b>
</center>
</td>
</tr>
</tbody>
</table>
</center>