<center>
<table width=80% text-align="center" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr><td><center><p>
The following informal film interviews were conducted during the AAAI 50th Anniversary Celebration (Fellows Symposium) and during the summer of 2006.  
<p>

<br><br>
Ron Brachman: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Brachman.mp4">Brachman.mp4 &nbsp;&nbsp;  [93769 kB]</a><br>
Danny Bobrow: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Bobrow.mp4">Bobrow.mp4 &nbsp;&nbsp;  [107356 kB]</a><br>
Jim Hendler: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Hendler.mp4">Hendler.mp4  [59987 kB]&nbsp;&nbsp;</a><br>
Nils Nilsson: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Nilsson.mp4">Nilsson.mp4  &nbsp;&nbsp[131951 kB]</a><br>
David Wilkins: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Wilkins.mp4">Wilkins.mp4  &nbsp;&nbsp[72520 kB]</a><br>
Ben Kuipers:  <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Kuipers.mp4">Kuipers.mp4   [132268 kB]&nbsp;&nbsp;</a><br>
Manuela Veloso:  <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Veloso.mp4">Veloso.mp4  &nbsp;&nbsp[64227 kB]</a><br>
Ed Feigenbaum:  <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Feigenbaum.mp4">Feigenbaum.mp4  &nbsp;&nbsp;[93737 kB]</a><br>
Randall Davis:  <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Davis.mp4">Davis.mp4</a><br>
Harry Barrow: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Barrow.mp4">Barrow.mp4</a><br>
Bruce Buchanan: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Buchanan.mp4">Buchanan.mp4&nbsp;&nbsp;  [54199 kB]</a><br>
Alan Bundy: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Bundy.mp4">Bundy.mp4  &nbsp;&nbsp;[60636 kB]</a><br>
Jon Doyle: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Doyle.mp4">Doyle.mp4  &nbsp;&nbsp;[77911 kB]</a><br>
Drew McDermott: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/McDermott.mp4">McDermott.mp4  &nbsp;&nbsp[135558 kB]</a><br>
Ryszard Michalski: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Michalski.mp4">Michalski.mp4  &nbsp;&nbsp[80121 kB]</a><br>
Chuck Rich: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Rich.mp4">Rich.mp4  &nbsp;&nbsp[89196 kB]</a><br>
Edwina Rissland: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Rissland.mp4">Rissland.mp4  &nbsp;&nbsp[71319 kB]</a><br>
Candace Sidner: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Sidner.mp4">Sidner.mp4  &nbsp;&nbsp[39262 kB]</a><br>
Reid Simmons: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Simmons.mp4">Simmons.mp4  &nbsp;&nbsp[78877 kB]</a><br>
Gerry Sussman: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Sussman.mp4">Sussman.mp4  &nbsp;&nbsp[106306 kB]</a><br>
Beverly Woolf: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Woolf.mp4">Woolf.mp4  &nbsp;&nbsp[58215 kB]</a><br>
Peter Szolovits: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Szolovits.mp4">Szolovits.mp4  &nbsp;&nbsp[135730 kB]</a><br>
Henry Kautz: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Kautz.mp4">Kautz.mp4  [59350 kB]&nbsp;&nbsp;</a><br>
Bart Selman: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Selman.mp4">Selman.mp4  &nbsp;&nbsp[47752 kB]</a><br>
Bill Swartout: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Swartout.mp4">Swartout.mp4  &nbsp;&nbsp[78225 kB]</a><br>
Pat Winston: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Winston.mp4">Winston.mp4  &nbsp;&nbsp[64749 kB]</a><br>
Rod Brooks: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Brooks.mp4">Brooks.mp4&nbsp;&nbsp;  [103357 kB]</a><br>
Marvin Minsky: <a href="http://projects.csail.mit.edu/films/AAAIfootage/done/Minsky.mp4">Minsky.mp4  &nbsp;&nbsp[141748 kB]</a><br>
</center>
</td></tr>
</tbody></table>
</center>
