<table>
<tbody>
   <tr>
      <td width="30%">
      </td>
      <td width="65%">
      <p><b><i>Further Project Information:</i></b>

<br><strong><a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0537285">NSF Abstract</a>  Description of NSF Award </strong>

<br><strong><a href="FilmList.php">Original Film List</a> Compiled from the Original Tech Square Film Reels</strong>



<p><b><i>AI Timelines:</i></b>

<br><strong><a href="time-jpg/AI%201945-85.jpg">Graphical Timeline</a> developed for this project</strong>

<br><a href="http://www.aaai.org/aitopics/bbhist.html#early"><b>AAAI</b></a> 

<br><a href="http://www.csail.mit.edu/timeline/timeline.php"><b>MIT Tech Square</b></a>



<p><i>Related MIT Class Information:</i>

<br><a href="http://courses.csail.mit.edu/6.803/schedule.html"> Readings/Assignments for 6.803</a>, Patrick Winston's class at MIT
<br><a href="http://ocw.mit.edu/OcwWeb/Electrical-Engineering-and-Computer-Science/6-871Spring-2005/Readings/index.htm">6.871 Reading List</a>
<br><a href="http://ocw.mit.edu/OcwWeb/Electrical-Engineering-and-Computer-Science/index.htm">OCW Computer Science classes</a>

<p><i>Tape Recording:</i>
<br><a href="Audio/IJCAI%2025th.mp3">Audio Tape</a> from The 25th Anniversary (1981)IJCAI panel,McCarthy, Minsky, Samuel, Selfridge, Newell

      </td>
      <td width="5%">
      </td>
   </tr>
</tbody>
</table>