<center>    <h1>Tech Square Memos and Reports series.</h1><br><br>

Although this site is focused on the Video records of the early days
of AI, It is of interest to many visitors that a 90% complete
collection of all the internal publications of early project MAC and
later LCS and AI Lab are on-line.<br><br>

See<br><br>

<a href="http://publications.csail.mit.edu/historical-collections.shtml">CSAIL Publications and Digital Archive</a><br><br>

for the following:<br><br>
AI Series -- View the technical report and memo listings of
the former Artificial Intelligence Laboratory.<br><br>
LCS Series -- View the technical report and memo listings of
the former Laboratory for Computer Science.
</center>
    <hr>
    <address><a href="mailto:peddie@shaggy">Matthew T Peddie</a></address>

<!-- Created: Thu Sep  7 16:08:51 EDT 2006 -->
<!-- hhmts start -->
Last modified: Thu Sep  7 16:18:09 EDT 2006
<!-- hhmts end -->
